.post-comments-model {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    padding: 1rem 0;
    background: var(--white_color_trs);
    
    display: grid;
    place-items: center;
    
    &__container {
        width: calc(100% - 1rem);
        max-width: 700px;
        height: max-content;
        max-height: 580px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background: var(--white_color);

        position: relative;

        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: space-between;

        .post-owner {
            text-align: center;
            padding: 1rem;
            border-bottom: 1px solid var(--gray_color_2);
            font-size: var(--normal__size);

            @media screen and (width <= 600px) {
                text-align: left;
            }
        }

        .post-comment-group {
            height: 400px;
            overflow-y: scroll;

            .comments-group {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: .5rem 1rem;

                &__comment {
                    display: flex;
                    gap: .5rem;

                    .comment-owner-profile {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .comment-details {
                        width: 100%;

                        &__user-name-comment {
                            background: var(--gray_color_3);
                            border-radius: 10px;
                            padding: .5rem .5rem .35rem .5rem;
                            width: max-content;
                            min-width: 180px;
                            max-width: 100%;

                            &.active {
                                background: var(--main_bleu_background);
                            }

                            .is-owner {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: .25rem;

                                p {
                                    font-weight: bold;
                                }
                                
                                p.for-owner {
                                    color: var(--main_bleu_color);
                                    background: var(--main_bleu_background);
                                    font-size: calc(var(--verysmall__size) + 1px);
                                    font-weight: 500;
                                    padding: .1rem .35rem .1rem .1rem;
                                    border-radius: 4px;
                                    width: max-content;

                                    display: flex;
                                    align-items: center;
                                    gap: .25rem;
                                }
                            }

                            .actuel-comment {
                                width: 100%;
                            }
                        }

                        .response {
                            display: flex;
                            align-items: end;
                            justify-content: space-between;
                            width: 180px;

                            .time {
                                font-size: var(--verysmall__size);
                                margin-top: .25rem;
                                text-transform: capitalize;
                            }
                            
                            button {
                                font-size: var(--verysmall__size);
                                background: transparent;
                                border: 0;
                                outline: 0;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 1rem;
                    }
                }

                &__no-comment {
                    color: var(--gray_color);
                    text-align: center;
                    margin-bottom: 2rem;
                    background: var(--gray_color_2);
                    padding: 1rem;
                    border-radius: 10px;
                    font-size: calc(var(--normal__size) + 4px);
                }
            }
        }

        .add-new-comment {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background: var(--white_color);
            box-shadow: rgba(0, 0, 0, .5) 0px -25px 20px -35px;
            padding: .25rem 1rem;
            border-top: .75rem solid var(--white_color);
            border-bottom: .75rem solid var(--white_color);
            
            overflow-y: scroll;
            max-height: 200px;
            
            &__wrapper {
                display: flex;
                gap: .5rem;
                overflow-y: scroll;

                &__user-profile {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__input {
                    width: 100%;
                    height: 100%;
                    background: var(--gray_color_3);
                    padding: .5rem;
                    padding-bottom: 2rem;
                    border-radius: 10px;

                    position: relative;
                    
                    textarea {
                        width: 100%;
                        border: 0;
                        outline: none;
                        background: transparent;
                        font-size: var(--small__size);
                        resize: none;
                    }

                    button {
                        position: absolute;
                        right: .75rem;
                        bottom: .5rem;
                        background: transparent;
                        border: 0;
                        outline: none;
                        cursor: pointer;

                        &:disabled {
                            display: none;
                        }
                    }
                }
            }
        }

        &__close {
            position: absolute;
            top: .5rem;
            right: 1rem;

            cursor: pointer;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            transition: .2s;
            color: var(--gray_color);
            
            display: grid;
            place-items: center;
            
            &:hover {
                background: var(--gray_color_3);
            }
        }
    }
}