.messenger-container {
    position: absolute;
    right: 1rem;
    top: 3.25rem;
    background: var(--white_color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 340px;

        .actions {
            display: flex;
            align-items: center;
            gap: .5rem;

            div {    
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: grid;
                place-items: center;
                transition: .3s;
                color: var(--gray_color);
                cursor: pointer;
                
                &:hover {
                    background: var(--main_background_color);
                }
            }
        }
    }

    .messenger-search {
        .search {
            display: flex;
            align-items: center;
            gap: .5rem;
            height: 40px;
            padding: .5rem .75rem;
            background: var(--main_background_color);
            color: var(--gray_color);
            border-radius: 20px;
            margin: .5rem 0;

            p {
                font-size: 15px;
            }
        }

        .contacts-container {
            display: flex;
            flex-direction: column;

            .contact {
                padding: .5rem;
                transition: .3s;
                display: flex;
                align-items: center;
                gap: .5rem;
                border-radius: 8px;
                
                &:hover {
                    background: var(--gray_color_3);
                }

                .profile {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    overflow: hidden;

                    .image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p:nth-child(2) {
                        font-size: 15px;
                        color: var(--gray_color_1);
                    }
                }
            }
        }
    }
}