.login-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    padding: 0 1.5rem;

    @media screen and (width <= 900px) {
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        gap: 3rem;
        padding: 2rem;
    }

    .welcoming {
        flex: .5;
        display: flex;
        flex-direction: column;
        gap: .75rem;

        @media screen and (width <= 900px) {
            width: 100%;
            max-width: 400px;
            text-align: center;
        }

        h1 {
            font-size: 4rem;
            font-family: var(--main_logo_font);
            color: var(--main_bleu_color);
            letter-spacing: -3px;
        }

        p {
            font-size: 28px;
            color: var(--black_color);

            @media screen and (width <= 900px) {
                font-size: 25px;
            }
        }
    }
    
    .form-wrapper {
        flex: .5;
        width: 100%;
        max-width: 400px;
        padding: 1.5rem 0;
        background: var(--white_color);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        form {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: .75rem;

            
            input {
                width: 100%;
                border: 1px solid var(--gray_color_2);
                border-radius: 4px;
                outline: none;
                padding: .75rem;
                font-size: 18px;
                color: var(--black_color);

                &::placeholder {
                    color: var(--gray_color_1);
                    font-size: 18px;
                }

                &:focus {
                    border: 1px solid var(--main_bleu_color);
                    box-shadow: var(--main_bleu_color) 0px 0px 2px;
                }
            }

            .switch-input-type {
                position: absolute;
                top: 50%;
                right: .5rem;
                transform: translateY(-50%);
                padding: .25rem;
                border-radius: 50%;
                place-items: center;
                cursor: pointer;
                transition: .3s;
                
                &:hover {
                    background: var(--gray_color_2);
                }
            }

            button {
                width: 100%;
                text-align: center;
                background: var(--main_bleu_color);
                color: var(--white_color);
                border-radius: 4px;
                outline: none;
                border: 0;
                padding: .75rem;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .line {
            width: 90%;
            margin: 0 auto;
            height: 1px;
            background: var(--gray_color_2);
        }

        & > button {
            width: 90%;
            margin: 0 auto;
            outline: none;
            border: 0;
            padding: .75rem;
            font-size: 18px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            cursor: pointer;
        }
    }
}