.no-post {
    padding: 1rem;
    border-radius: 10px;
    background: var(--white_color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h1 {
        font-size: calc(var(--normal__size) + 2px);
        color: var(--gray_color_1);
        text-align: center;
        margin-bottom: 2rem;
    }
}