.sidebar.right {
    width: 300px;
    height: calc(100vh - 65px);
    padding-top: 1rem;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: var(--gray_color_2);
        }
    }

    .right-sidebar-content {
        .title {
            color: var(--gray_color);
            font-size: calc(var(--small__size) + 2px);
            padding-left: .5rem;
            margin-bottom: .5rem;
        }

        .my-link {
            display: flex;
            align-items: center;
            gap: .5rem;
            text-decoration: none;
            color: var(--black_color);
            
            transition: .2s;
            padding: .5rem;
            border-radius: 8px;

            &:hover {
                background: var(--gray_color_3);
            }

            img {
                width: 100px;
                aspect-ratio: 1;
                object-fit: cover;
                background: var(--gray_color_2);
                border-radius: 8px;
            }

            .info {
                h3 {
                    font-size: calc(var(--normal__size) - 3px);
                }

                p {
                    color: var(--gray_color);
                    font-size: calc(var(--verysmall__size) + 2px);
                }
            }
        }
    }
}