.sidebar.right {
    width: 300px;
    height: calc(100vh - 65px);
    padding-top: 1rem;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: var(--gray_color_2);
        }
    }

    .right-sidebar-content {
        height: 1000px;
        width: 100%;
        background: var(--gray_color_3);
        border-radius: 12px;
    }
}