.menu-container {
    position: absolute;
    right: 1rem;
    top: 3.25rem;
    background: var(--main_background_color);
    padding: 1rem .2rem 1rem 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .menu-wrapper {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        padding-right: .2rem;
        height: 475px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 8px;
        }
        &:hover::-webkit-scrollbar-thumb {
            background: var(--gray_color_2);
        }

        .left-container {
            background: var(--white_color);
            padding: 1rem;
            border-radius: 8px;
            width: 340px;
            border: 1px solid rgba(0, 0, 0, .1);
            height: max-content;
            min-height: 472px;

            .search {
                display: flex;
                align-items: center;
                gap: .5rem;
                height: 35px;
                padding: .5rem;
                margin-bottom: 1rem;
                background: var(--main_background_color);
                color: var(--gray_color);
                border-radius: 20px;
    
                input {
                    font-size: 15px;
                    background: transparent;
                    border: 0;
                    outline: none;
                }
            }

            .search-results {
                .no-result {
                    margin-top: 2rem;
                    text-align: center;
                    color: var(--gray_color);

                    h3 {
                        margin-top: 1rem;
                        margin-bottom: .5rem;
                    }
                }

                .results {
                    .category-container {
                        margin-bottom: 1rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        
                        .category-title {
                            font-weight: 500;
                            margin-bottom: .5rem;
                        }

                        .item {
                            padding: .5rem;
                            border-radius: 8px;
                            display: flex;
                            gap: 1rem;
                            transition: .3s;

                            &:hover {
                                background: var(--gray_color_3);
                            }

                            .info {
                                h3 {
                                    font-size: 15px;
                                    font-weight: 600;
                                    color: var(--black_color);
                                }

                                p {
                                    margin-top: .25rem;
                                    font-size: 14px;
                                    color: var(--gray_color);
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .right-container {
            background: var(--white_color);
            padding: .5rem;
            border-radius: 8px;
            width: 200px;
            border: 1px solid rgba(0, 0, 0, .1);
            position: sticky;
            height: max-content;
            top: 0;

            ul {
                margin-top: .5rem;
                list-style: none;
                color: var(--black_color);
                
                li {
                    font-size: 15px;
                    font-weight: 600;
                    padding: .5rem;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        background: var(--gray_color_3);
                    }

                    .icon {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background: var(--main_background_color);
                        display: grid;
                        place-items: center;
                    }
                }
                
            }

            .line {
                width: 94%;
                margin-inline: auto;
                margin-block: .5rem;
                height: 1px;
                background: var(--gray_color_3);
            }
        }
    }

}