.post-comments-model {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
    background: var(--white_color_trs);
    
    display: grid;
    place-items: center;
    
    &__container {
        width: 100%;
        max-width: 700px;
        height: max-content;
        max-height: 600px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background: var(--white_color);

        position: relative;

        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: space-between;

        .post-owner {
            text-align: center;
            padding: 1rem;
            border-bottom: 1px solid var(--gray_color_2);
            font-size: var(--normal__size);
        }

        .post-comment-group {
            height: 400px;
            overflow-y: scroll;
        }

        .add-new-comment {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background: var(--white_color);
            box-shadow: rgba(0, 0, 0, .5) 0px -25px 20px -35px;
            padding: .25rem 1rem;
            border-top: .75rem solid var(--white_color);
            border-bottom: .75rem solid var(--white_color);
            
            overflow-y: scroll;
            max-height: 200px;
            
            &__wrapper {
                display: flex;
                gap: .5rem;
                overflow-y: scroll;

                &__user-profile {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__input {
                    width: 100%;
                    height: 100%;
                    background: var(--gray_color_3);
                    padding: .5rem;
                    border-radius: 10px;
                    
                    textarea {
                        width: 100%;
                        border: 0;
                        outline: none;
                        background: transparent;
                        font-size: var(--small__size);
                        resize: none;
                    }
                }
            }
        }

        &__close {
            position: absolute;
            top: .5rem;
            right: .5rem;

            cursor: pointer;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            transition: .2s;
            color: var(--gray_color);
            
            display: grid;
            place-items: center;
            
            &:hover {
                background: var(--gray_color_3);
            }
        }
    }
}