.home {
    padding-top: 65px;

    display: flex;
    justify-content: space-between;

    &__main-section {
        padding-top: 1rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}