.home {
    padding-top: 65px;

    display: flex;
    justify-content: space-between;

    &__main-section {
        margin: 0 5rem;
        padding-top: 1rem;
        max-width: 600px;
        width: 100%;
        height: calc(100vh - 65px);
        overflow-y: scroll;

        &::-webkit-scrollbar-thumb {
            display: none;
        }

        .home__main-section-content {
            width: 100%;
            padding: 0 2px 2rem 2px;

            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        
    }

    @media screen and (width <= 1250px) {
        .sidebar.left {
            display: none;
        }
    }
    @media screen and (width <= 1000px) {
        justify-content: center;

        .sidebar.right {
            display: none;
        }
    }
    @media screen and (width <= 750px) {
        &__main-section {
            margin: 0 .75rem;
        }
    }
}