.comment-responses {
    margin-top: .5rem;

    &__loading {
        display: flex;
        gap: .25rem;
        margin-bottom: .5rem;

        .profile-model {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: var(--gray_color);
        }

        .response-model {
            background: var(--gray_color_3);
            padding: .5rem;
            border-radius: 12px;

            div {
                width: 150px;
                height: 15px;
                background: var(--gray_color_1);
                border-radius: 4px;

                &:nth-child(1) {
                    margin-bottom: .35rem;
                    width: 100px;
                }
            }
        }
    }

    &__response {
        display: flex;
        gap: .25rem;
        width: 100%;
        margin-bottom: .5rem;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        .response-wrapper {
            .res {
                background: var(--gray_color_3);
                padding: .5rem;
                border-radius: 12px;

                p:nth-child(1) {
                    font-weight: 600;
                }
            }

            .time {
                font-size: var(--verysmall__size);
                text-transform: capitalize;
            }
        }
    }

    .add-response {
        display: flex;
        gap: .25rem;
        margin-top: .5rem;
        width: 100%;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        &__input {
            position: relative;
            width: 100%;

            textarea {
                width: 100%;
                height: 100%;
                padding: .5rem;
                padding-bottom: 1.5rem;
                resize: none;
                border: 0;
                outline: none;
                background: var(--gray_color_3);
                border-radius: 12px;
                font-size: var(--small__size);
            }

            button {
                position: absolute;
                bottom: .75rem;
                right: .75rem;

                background: transparent;
                border: 0;
                outline: none;
                cursor: pointer;

                display: grid;
                place-items: center;

                &:disabled {
                    display: none;
                }
            }
        }
    }
}