.posts-container__post {
    .post-body {
        display: flex;
        flex-direction: column;

        p {
            --max-lines: 2;
            --line-height: 1.2;

            font-size: calc(var(--normal__size) - 1px);
            color: var(--black_color);
            margin: 0 1rem;
            
            overflow: hidden;
            max-height: calc(var(--max-lines) * 1em * var(--line-height));
            line-height: var(--line-height);
        }
        
        input[type="checkbox"] {
            margin-right: auto;
            margin-left: 1rem;
            appearance: none;
            cursor: pointer;
            font-size: var(--small__size);
            opacity: .95;
            padding: .25rem;
            background: var(--gray_color_4);
            border-radius: 4px;

            &:hover {
                text-decoration: underline;
            }

            &:checked::before {
                content: 'cacher';
            }
            &::before {
                content: 'voir plus...';
            }
        }

        &__image {
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &:has(input[type="checkbox"]:checked) {
            p {
                max-height: max-content;
            }
        }
    }
}