.marketplace {
    padding-top: 56px;

    .marketplace-content {
        flex: 1;
        padding: 0 1rem;
        padding-top: .5rem;
        transition: .2s;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        grid-gap: 1rem .5rem;

        &:hover {
            .product-container:not(.product-container:hover) {
                filter: blur(4px);
            }
        }

        @media screen and (width <= 600px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (width <= 400px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .product-container {
            text-decoration: none;
            color: var(--black_color);
            transition: .3s;

            &:hover {
                transform: scale(1.02);

                .product-details {
                    .price {
                        right: 10px;
                    }
                }
            }

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
            }

            .product-details {
                margin-top: .25rem;
                position: relative;
                overflow: hidden;

                display: flex;
                flex-direction: column;
                gap: .25rem;

                .price {
                    font-weight: 600;
                    font-size: calc(var(--normal__size) - 2px);
                    color: var(--main_bleu_color);
                    transition: .2s;
                    width: min-content;

                    position: absolute;
                    right: -100px;
                    top: 0;
                }

                .place {
                    color: var(--gray_color);
                }
            }
        }
    }
}