.marketplace {
    padding-top: 56px;

    .marketplace-content {
        flex: 1;
        padding: 0 1rem;
        padding-top: .5rem;
        transition: .2s;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem .5rem;

        @media screen and (width <= 1100px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (width <= 900px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (width <= 660px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (width <= 400px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .product-container {
            text-decoration: none;
            color: var(--black_color);
            height: max-content;

            .product-photo {
                width: 100%;
                aspect-ratio: 1.4;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                    background: var(--gray_color_3);
                }
            }

            .product-details {
                margin-top: .25rem;
                position: relative;
                overflow: hidden;

                display: flex;
                flex-direction: column;
                gap: .25rem;

                .price {
                    font-weight: 600;
                    font-size: calc(var(--normal__size) - 2px);
                    color: var(--main_bleu_color);
                }

                .place {
                    color: var(--gray_color);
                }
            }
        }

        .product-model {
            animation: blinking 1s ease-in-out infinite;

            .photo-model {
                width: 100%;
                aspect-ratio: 1.4;
                background: var(--gray_color_3);
                border-radius: 8px;
            }

            .info-model {
                margin-top: .25rem;

                display: flex;
                flex-direction: column;
                gap: .25rem;

                div {
                    height: 16px;
                    background: var(--gray_color);
                    border-radius: 4px;

                    &.price {
                        width: 120px;
                    }
    
                    &.desc {
                        width: 200px;
                    }
    
                    &.place {
                        width: 70px;
                        background: var(--gray_color_2);
                    }
                }

            }

            @keyframes blinlin {
                0%, 100% {
                    opacity: 1;
                }
                50% {
                    opacity: .6;
                }
            }
        }

        .no-products {
            width: 100%;
            aspect-ratio: 1.4;
            background: var(--gray_color_3);
            border-radius: 8px;
            color: var(--gray_color);
            font-weight: 600;

            display: grid;
            place-items: center;
            text-align: center;
        }
    }

    .section {
        .new-add-item {
            position: fixed;
            right: 1.5rem;
            bottom: 1.5rem;
            z-index: 2;

            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: var(--white_color);
            text-decoration: none;
            color: black;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            display: grid;
            place-items: center;

            @media screen and (width > 900px) {
                display: none;
            }
        }
    }
}