@font-face {
    font-family: 'facebook_letter_facesregular';
    src: url('localhost:3000/src/css/facebolf.woff2') format('woff2'),
         url('localhost:3000/src/css/facebolf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaregular';
    src: url('localhost:3000/src/css/helvetica.woff2') format('woff2'),
         url('localhost:3000/src/css/helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main_background_color: #f2f4f7;
    --main_bleu_color:       #0178fd;
    --main_bleu_background:  #0177fd33;
    --main_green_color:      #00b501;
    --white_color:           #ffffff;
    --white_color_1:         #f2f2f2;
    --black_color:           #1c1e21;
    --gray_color:            #65676b;
    --gray_color_1:          #969ba0;
    --gray_color_2:          rgba(150, 155, 160, .6);
    --gray_color_3:          #e4e6e9;

    --main_font:             'helveticaregular', sans-serif;
    --main_logo_font:        'facebook_letter_facesregular', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main_font);
}

body {
    background: var(--main_background_color);
}