:root {
    --main_background_color: rgb(242, 244, 247);
    --main_bleu_color:       rgb(1, 120, 253);
    --main_bleu_color_trs:   rgba(1, 120, 253, .6);
    --main_bleu_background:  rgba(1, 119, 253, 0.2);
    --main_green_color:      rgb(0, 181, 1);

    --white_color:           rgb(255, 255, 255);
    --white_color_trs:       rgba(242, 242, 242, .6);
    --white_color_1:         rgb(242, 242, 242);

    --black_color:           rgb(28, 30, 33);
    --black_color_trs:       rgba(28, 30, 33, .4);

    --gray_color:            rgb(101, 103, 107);
    --gray_color_1:          rgb(150, 155, 160);
    --gray_color_2:          rgba(150, 155, 160, .6);
    --gray_color_3:          rgb(228, 230, 233);
    --gray_color_4:          rgba(228, 230, 233, .4);

    --red_color:             red;
    --red_color_trs:         rgba(255, 0, 0, .2);
    --red_color_trs_1:       rgba(255, 0, 0, .6);

    --yellow_color:          rgb(236, 236, 9);
    --main_yellow_color:     rgb(234, 171, 43);

    --main_font:             'helveticaregular', sans-serif;
    --main_logo_font:        'facebook_letter_facesregular', sans-serif;

    --verysmall__size: 12px;
    --small__size: 16px;
    --normal__size: 20px;
    --medium__size: 32px;
    --large__size: 48px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main_font);
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 8px;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: var(--gray_color_2);
        }
    }
}

body {
    background: var(--main_background_color);

    main {
        width: 100%;
        max-width: 1900px;
        margin: 0 auto;
    }
}