.message-wrapper {
    padding: .5rem;

    display: flex;
    flex-direction: column;

    .profile-message {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: .25rem;

        .profile {
            width: 32px;
            height: 32px;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                background: var(--gray_color);
            }
        }

        .actuel-message {
            width: 100%;
            max-width: max-content;
            padding: .5rem;
            border-radius: 16px;
            background: var(--gray_color_3);
        }
    }

    .moment {
        margin-left: 36px;
        color: var(--black_color);
        text-transform: capitalize;
        font-size: calc(var(--verysmall__size) + 0px);
        margin-top: 2px;
    }

    &.sender {
        .profile-message {
            flex-direction: row-reverse;

            .actuel-message {
                background: var(--main_bleu_color);
            }
        }

        .moment {
            margin-left: auto;
            margin-right: 36px;
        }
    }
}